.container {
    width: 100%;
    /* font-family: 'Titillium Web', sans-serif;*/
    padding-left: 2%;
    padding-right: 2%;
}

.sectionSpacing {
    margin-top: 10%;
}

.name {
    color: #f2f2f2;
    margin-left: 5%;
    margin-bottom: 9px;
}

.nameProjectLink {
    margin-left: 5%;
    margin-right: 3%;
}

.image {
    width: 100%;
}

.profileImage {
    border: 4px solid white;
}

.backgroundImage {
  position: absolute;
  top: 0;
  width: 100%;
}
